html, body{
    min-height: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #b2bec3;
    font-family: 'Sailec-Medium', sans-serif;
}

.container-custom{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nome{
    color: white;
    font-weight: bold;
    padding-right: 0;
    font-size: 35px;
}

.avatar{
    background-color: #0984e3;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 3vh 0 3vh 1vh;
}

.center{
    position:fixed;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
}

.teste{
    display: flex;
    flex-direction: row;
}

.mensagens{
    color: rgba(0,0,0, 0.6);
    padding-right: 0;
    padding: 5vh 5vh 8vh 5vh;
    height: 65%;
    overflow: scroll;
}

.enviado{
    padding: 2vh;
    border-radius: 15px 15px 5px 15px;
    background-color: #74b9ff;
    float: right;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.recebido{
    padding: 2vh;
    border-radius: 15px 15px 15px 5px;
    background-color: #dfe6e9;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.entrada{
    height: 50px;
    width: 100%;
    position:absolute;
    left:0;
    bottom:0;
    padding-left: 5vh;
    padding-right: 5vh;
    margin-bottom: 2vh;
}

.circular img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

.circular {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

::-webkit-scrollbar {
    display: none;
}

@import url(//db.onlinewebfonts.com/c/ac9525e5f200f57332b3080d0db9d8f6?family=Sailec-Medium);